<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

		  
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		
		<!-- Connexion information -->
		<property name="driverClass"><value>org.apache.derby.jdbc.EmbeddedDriver</value></property>
		<property name="jdbcUrl"><value>jdbc:derby:derbyDB</value></property>
		<property name="user"><value>USER1</value></property>
		<property name="password"><value>USER1</value></property>
		
		<!-- parameter for tuning -->
		<property name="acquireIncrement"><value>5</value></property>
		<property name="acquireRetryAttempts"><value>0</value></property>
		<property name="acquireRetryDelay"><value>500</value></property>
		<property name="idleConnectionTestPeriod"><value>60</value></property>
		<property name="maxIdleTime"><value>0</value></property>
		<property name="breakAfterAcquireFailure"><value>false</value></property>
		<property name="checkoutTimeout"><value>0</value></property>

		<property name="initialPoolSize"><value>3</value></property>		
        <property name="minPoolSize"><value>1</value></property>
        <property name="maxPoolSize"><value>20</value></property>

        <property name="maxStatementsPerConnection"><value>100</value></property>
        <property name="autoCommitOnClose"><value>true</value></property>
        <property name="automaticTestTable"><value>connection_test_table</value></property>
        <property name="testConnectionOnCheckin"><value>true</value></property>
        <property name="numHelperThreads"><value>20</value></property>		
	</bean>		  
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
			   <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
			   <prop key="hibernate.show_sql">true</prop>
			   <prop key="hibernate.hbm2ddl.auto">create-drop</prop>			   
			   <prop key="hibernate.cache.use_query_cache">true</prop>
			   <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/mappings/</value>
			</list>
		</property>
	</bean>

	<!-- 
		DAOs  
	 -->

    <bean id="ForumsDAO" class="net.sf.l2j.gameserver.communitybbs.dao.forum.impl.ForumsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
    <bean id="PostsDAO" class="net.sf.l2j.gameserver.communitybbs.dao.forum.impl.PostsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
    <bean id="TopicDAO" class="net.sf.l2j.gameserver.communitybbs.dao.forum.impl.TopicDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 

    <bean id="CharRecommendationsDAO" class="net.sf.l2j.gameserver.characters.dao.impl.CharRecommendationsDAOJdbc">
	</bean> 
	
	<!-- 
		Service to manage forums 
	 -->
    <bean id="ForumService" class="net.sf.l2j.gameserver.communitybbs.services.forum.ForumService">
		<property name="forumsDAO">
			<ref bean="ForumsDAO" />
		</property>
		<property name="topicDAO">
			<ref bean="TopicDAO" />
		</property>
		<property name="postsDAO">
			<ref bean="PostsDAO" />
		</property>
	</bean> 	


	<!--
		 Manager to handle forums manipulation 
	 -->
    <bean id="TopicBBSManager" class="net.sf.l2j.gameserver.communitybbs.Manager.TopicBBSManager">
		<property name="forumService">
			<ref bean="ForumService" />
		</property>
	</bean> 
    <bean id="PostBBSManager" class="net.sf.l2j.gameserver.communitybbs.Manager.PostBBSManager">
		<property name="forumService">
			<ref bean="ForumService" />
		</property>
	</bean> 

	<!--
	Transaction manager				   
	Here you set the object and methods where transaction are used. 
    - PROPAGATION_REQUIRED is the transaction mode, 
    => it means :  Support a current transaction; create a new one if none exists.
    - The key determine a pattern for methods that are embedded in the transaction. 
    => * means : all methods in this object are embedded in a transaction
	-->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
 
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
 
	<bean id="autoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<idref local="transactionInterceptor" />
			</list>
		</property>
		<property name="beanNames">
			<list>
				<idref local="ForumService" />
			</list>
		</property>
	</bean>	

</beans>
