<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!-- -->
<!-- Log4j Configuration -->
<!-- -->
<!-- ===================================================================== -->
<!--
| For more configuration infromation and examples see the Jakarta Log4j
| owebsite: http://jakarta.apache.org/log4j

debug=false => no debug informations from log4j
threshold=info => overall trace level is info. Debug are filtered.

For developer : 
To activate logs in debug, modify threshold to debug and don't forget to modify the threshold for the appender.

-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" threshold="info" >

    <!--
 appenders definition :

 log4j.appender."appender".layout.ConversionPattern
 Error message format
 char string with those patterns  :
        %p : trace level
        %t : thread name
        %r : time since program start
        %x : Nested Diagnostic Context
        %c : Class name
        %d{HH:mm:ss,SSS} or %d{dd MMM yyyy HH:mm:ss,SSS}.
             If no date format is given, use format ISO8601.
		 %m : message
		 %X{localisation} : localisation for trace = class name(filename:line)
		 %X{timestamp} :  date in milliseconds
        %n : line carriage
  With ExtendedPatternLayout :
      %s : stacktrace    
      
    -->

	<!--appender class="org.apache.log4j.AsyncAppender" name="ASYNC">
        <appender-ref ref="FILELOG"/>
		<appender-ref ref="CON"/>		
	</appender-->

    
    <!-- Console appender -->
    <appender name="CON" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Target" value="System.out"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%p : %m %s %n"/>
        </layout>
    </appender>    

    <!-- file log appender -->
    <appender name="FILELOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/java.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>

    <!-- debug log appender -->
    <appender name="DBGLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/debug.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>

    <!-- chat log appender-->
    <appender name="CHATLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/chat.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>
    
    <!-- audit log appender-->
    <appender name="AUDITLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/audit.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>    

    <!-- item log appender-->
    <appender name="ITEMLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/item.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>    

    <!-- damage_pdam log appender-->
    <appender name="PDAMLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/game/damage_pdam_all.txt"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="[%d{yy.MM.dd H:mm:ss}] '---': %m %n"/>
        </layout>
    </appender>    

    <!-- damage_mdam log appender-->
    <appender name="MDAMLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/game/damage_mdam_all.txt"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="[%d{yy.MM.dd H:mm:ss}] '---': %m %n"/>
        </layout>
    </appender>    
    
    <!-- gm commands log appender (unused) -->
    <appender name="GMLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/admin-commands.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>    
    <!--
    RULES for logging DEBUG < INFO < WARN < ERROR < FATAL.
    -->
    
    
    <!-- 
    definition of loggers that can be called in code with Logger.getLogger ("name")
    each one inherit from rootlogger. 
    If an appender should not inherit for appender of his parents, set additivity = false
    
    If name of appender = name of package, inheritance applied :
    the logger net.sf.l2j is the parent of net.sf.l2j.gameserver 
    
    To debug a specific class, add a logger with the name of the class and use appender DBGLOG
    (and modify general threshold to debug)
    
    -->
    <logger name="chat" additivity="false" >
        <appender-ref ref="CHATLOG"/>
    </logger>
    <logger name="item" additivity="false" >
        <appender-ref ref="ITEMLOG"/>
    </logger>
    <logger name="audit" additivity="false" >
        <appender-ref ref="AUDITLOG"/>
    </logger>
    <logger name="gm" additivity="false" >
        <appender-ref ref="GMLOG"/>
    </logger>

    <!-- 
    Example of specific logger.
    Those loggers redirect logs from these classes to PDAMLOG and MDAMLOG appenders 
    -->

    <logger name="net.sf.l2j.gameserver.handler.skillhandlers.Crits" additivity="false" >
        <appender-ref ref="PDAMLOG"/>
    </logger>
    <logger name="net.sf.l2j.gameserver.handler.skillhandlers.Mdam" additivity="false" >
        <appender-ref ref="MDAMLOG"/>
    </logger>
    <logger name="net.sf.l2j.gameserver.handler.skillhandlers.Pdam" additivity="false" >
        <appender-ref ref="PDAMLOG"/>
    </logger>
    <logger name="net.sf.l2j.gameserver.handler.skillhandlers.StrSiegeAssault" additivity="false" >
        <appender-ref ref="PDAMLOG"/>
    </logger>

    <!-- Setup the Root logger -->
    <root>
        <appender-ref ref="FILELOG"/>
		<appender-ref ref="CON"/>		
    </root>
</log4j:configuration>
