<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
  <bean id="ForumsDAO"
    class="com.l2jfree.gameserver.communitybbs.dao.forum.impl.ForumsDAOMock">
  </bean>
  <bean id="TopicDAO"
    class="com.l2jfree.gameserver.communitybbs.dao.forum.impl.TopicDAOMock">
  </bean>
  <bean id="PostsDAO"
    class="com.l2jfree.gameserver.communitybbs.dao.forum.impl.PostsDAOMock">
  </bean>
  <bean id="ForumService"
    class="com.l2jfree.gameserver.communitybbs.services.forum.ForumService">
    <property name="forumsDAO">
      <ref bean="ForumsDAO" />
    </property>
    <property name="topicDAO">
      <ref bean="TopicDAO" />
    </property>
    <property name="postsDAO">
      <ref bean="PostsDAO" />
    </property>
  </bean>
</beans>
