<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!-- -->
<!-- Log4j Configuration -->
<!-- -->
<!-- ===================================================================== -->
<!--
| For more configuration infromation and examples see the Jakarta Log4j
| owebsite: http://jakarta.apache.org/log4j

debug=false => no debug informations from log4j
threshold=info => overall trace level is info. Debug are filtered.

For developer : 
To activate logs in debug, modify threshold to debug and don't forget to modify the threshold for the appender.

-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" threshold="info" >

    <!--
 appenders definition :

 log4j.appender."appender".layout.ConversionPattern
 Error message format
 char string with those patterns  :
        %p : trace level
        %t : thread name
        %r : time since program start
        %x : Nested Diagnostic Context
        %c : Class name
        %d{HH:mm:ss,SSS} or %d{dd MMM yyyy HH:mm:ss,SSS}.
             If no date format is given, use format ISO8601.
		 %m : message
		 %X{localisation} : localisation for trace = class name(filename:line)
		 %X{timestamp} :  date in milliseconds
        %n : line carriage
  With ExtendedPatternLayout :
      %s : stacktrace    
      
    -->

	<appender class="org.apache.log4j.AsyncAppender" name="ASYNC">
        <appender-ref ref="FILELOG"/>
		<appender-ref ref="CON"/>		
	</appender>

    
    <!-- Console appender -->
    <appender name="CON" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="Target" value="System.out"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%p : %m %s %n"/>
        </layout>
    </appender>    

    <!-- file log appender -->
    <appender name="FILELOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/java.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>

    <!-- debug log appender -->
    <appender name="DBGLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/debug.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>

    <!-- login log appender -->
    <appender name="LOGINLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/login.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %p %t %c %m %s %n"/>
        </layout>
    </appender>
    <!-- login tries appender -->
    <appender name="LOGINLOGTRY" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/game/logins_ip.txt"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="[%d{yy.MM.dd HH:mm:ss}] %p : %m %n"/>
        </layout>
    </appender>
    <!-- login failed appender -->
    <appender name="LOGINLOGFAILED" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Encoding" value="UTF-8"/>        
        <param name="File" value="log/game/logins_ip_fails.txt"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="net.sf.l2j.tools.log4jextension.ExtendedPatternLayout">
            <param name="ConversionPattern" value="[%d{yy.MM.dd HH:mm:ss}] %p : %m %n"/>
        </layout>
    </appender>        
 
    <!--
    RULES for logging DEBUG < INFO < WARN < ERROR < FATAL.
    -->
    
    
    <!-- 
    definition of loggers that can be called in code with Logger.getLogger ("name")
    each one inherit from rootlogger. 
    If an appender should not inherit for appender of his parents, set additivity = false
    
    If name of appender = name of package, inheritance applied :
    the logger net.sf.l2j is the parent of net.sf.l2j.gameserver 
    
    To debug a specific class, add a logger with the name of the class and use appender DBGLOG
    (and modify general threshold to debug)
    
    -->
    <logger name="org.hibernate" >
	    <level value="WARN"></level>
    </logger>
    <logger name="org.springframework" >
	    <level value="WARN"></level>
    </logger>
    <logger name="login" additivity="false" >
        <appender-ref ref="LOGINLOG"/>
    </logger>
    <logger name="login.try" additivity="false" >
        <appender-ref ref="LOGINLOGTRY"/>
    </logger>
    <logger name="login.failed" additivity="false" >
        <appender-ref ref="LOGINLOGFAILED"/>
    </logger>        
    
    <!-- Setup the Root logger -->
    <root>
        <appender-ref ref="FILELOG"/>
		<appender-ref ref="CON"/>		
    </root>
</log4j:configuration>
