<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- Add ability to read system properties -->
	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		
		<!-- Connexion information -->
		<property name="driverClass"><value>${net.sf.l2j.db.driverclass}</value></property>
		<property name="jdbcUrl"><value>${net.sf.l2j.db.urldb}</value></property>
		<property name="user"><value>${net.sf.l2j.db.user}</value></property>
		<property name="password"><value>${net.sf.l2j.db.password}</value></property>
		
		<!-- parameter for tuning -->
		<property name="acquireIncrement"><value>5</value></property>
		<property name="acquireRetryAttempts"><value>0</value></property>
		<property name="acquireRetryDelay"><value>500</value></property>
		<property name="idleConnectionTestPeriod"><value>60</value></property>
		<property name="maxIdleTime"><value>0</value></property>
		<property name="breakAfterAcquireFailure"><value>false</value></property>
		<property name="checkoutTimeout"><value>0</value></property>

		<property name="initialPoolSize"><value>3</value></property>		
        <property name="minPoolSize"><value>1</value></property>
        <property name="maxPoolSize"><value>20</value></property>

        <property name="maxStatementsPerConnection"><value>100</value></property>
        <property name="autoCommitOnClose"><value>true</value></property>
        <property name="automaticTestTable"><value>connection_test_table</value></property>
        <property name="testConnectionOnCheckin"><value>true</value></property>
        <property name="numHelperThreads"><value>20</value></property>		
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
			   <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			   <prop key="hibernate.show_sql">false</prop>
			   <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
               <prop key="hibernate.connection.release_mode">auto</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/net/sf/l2j/loginserver/beans/</value>
			</list>
		</property-->
		<property name="mappingJarLocations">
			<list>
				<value>classpath:l2j-loginserver-1.0.0.jar</value>
			</list>
		</property>		
	</bean>
    <bean id="AccountsDAO" class="net.sf.l2j.loginserver.dao.impl.AccountsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
    <bean id="GameserversDAO" class="net.sf.l2j.loginserver.dao.impl.GameserversDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 

    <bean id="AccountsServices" class="net.sf.l2j.loginserver.services.AccountsServices">
		<property name="accountsDAO">
			<ref bean="AccountsDAO" />
		</property>
	</bean>
    <bean id="GameserversDAOXml" class="net.sf.l2j.loginserver.dao.impl.GameserversDAOXml">
	</bean>		

    <bean id="GameserversServices" class="net.sf.l2j.loginserver.services.GameserversServices">
		<property name="gameserversDAO">
			<ref bean="GameserversDAO" />
		</property>
	</bean>		

    <bean id="GameserversServicesXml" class="net.sf.l2j.loginserver.services.GameserversServices">
		<property name="gameserversDAO">
			<ref bean="GameserversDAOXml" />
		</property>
	</bean>	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
 
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
 
	<bean id="autoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<idref local="transactionInterceptor" />
			</list>
		</property>
		<property name="beanNames">
			<list>
				<idref local="GameserversServices" />
				<idref local="AccountsServices" />
			</list>
		</property>
	</bean>	

</beans>
