<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- 
		DAOs  
	 -->

    <bean id="ForumsDAO" class="net.sf.l2j.gameserver.communitybbs.dao.forum.impl.ForumsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
    <bean id="PostsDAO" class="net.sf.l2j.gameserver.communitybbs.dao.forum.impl.PostsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
    <bean id="TopicDAO" class="net.sf.l2j.gameserver.communitybbs.dao.forum.impl.TopicDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
	
	<!-- 
		DAO for version
	 -->
    <bean id="VersionDAO" class="net.sf.l2j.tools.versionning.dao.impl.VersionDAOJar">
		<property name="clazz">
			<value>net.sf.l2j.gameserver.GameServer</value>
		</property>
	</bean> 	

	<!-- 
		DAO for recipes
	 -->
    <bean id="L2RecipeDAO" class="net.sf.l2j.gameserver.recipes.dao.impl.L2RecipeDAOXml">
	</bean> 	
	

	<!-- 
		DAO for items
	 -->
    <bean id="ExtractableItemsDAO" class="net.sf.l2j.gameserver.items.dao.impl.ExtractableItemsDAOCsv">
	</bean> 	

	<!-- 
		DAO for characters
	 -->
    <bean id="CharRecommendationsDAO" class="net.sf.l2j.gameserver.characters.dao.impl.CharRecommendationsDAOJdbc">
	</bean> 

	<!-- 
		DAO for Boats
	 -->
    <bean id="BoatTrajetDAO" class="net.sf.l2j.gameserver.boat.dao.impl.BoatTrajetDAOCsv">
	</bean> 
    <bean id="BoatDAO" class="net.sf.l2j.gameserver.boat.dao.impl.BoatDAOCsv">
	</bean> 


</beans>
