<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	
	<!--
		 Manager to handle forums manipulation 
	 -->
    <bean id="TopicBBSManager" class="net.sf.l2j.gameserver.communitybbs.Manager.TopicBBSManager">
		<property name="forumService">
			<ref bean="ForumService" />
		</property>
	</bean> 
    <bean id="PostBBSManager" class="net.sf.l2j.gameserver.communitybbs.Manager.PostBBSManager">
		<property name="forumService">
			<ref bean="ForumService" />
		</property>
	</bean> 



</beans>
